KoBERT-NER/
*.env/
방송대본요약/
__pycache__/
corpus/
*.json
*.csv
*.xlsx
*.txt
train_1028/__pycache__/
train_1028/ner/
checkpoint-550000_roberta_CSE/
checkpoint-2300000_roberta_NERSOTA/
checkpoint-2350000_bert/
checkpoint-2600000/
checkpoint-4050000_bert/
checkpoint-4750000_bert/
dataset/
ner_lamo/
ner_lamo_se/
ner_mo/
ner_mo_s/
NERtesting/
tokenizer/
train_1028/__pycache__
workspace/
.txt